<template>
  <div id="app">
    <header></header>
      <!-- Page Content -->
        <router-view style="margin-left: 15rem;"></router-view>
      <!-- Page Content -->
    <footer></footer>
  </div>
</template>
<script>
import Header from './components/layout/header'
import Footer from './components/layout/footer'

export default {
  name: 'App',
  components:{
    Header, Footer
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
